.tableWrapper {
   position: relative; /* Potřeba kvůli pozicování tlačíka pro výběr sloupců */
   border: var(--border-default);
   border-radius: var(--border-radius);
   margin: 0.5rem 0;
}

/* Dovoluje scrollovat tabulku při překročení maximální šířky/výšky */
.overflowBlock {
   display: block;
   overflow: auto;
   min-height: 18px; /* Toto je řešení toho, že pokud uživatel skryje všechny sloupce, zmizí celá tabulka (týká se i přechozího řádku)
                        Díky tomuto nastavení zůstane zobrazen alespoň řádek s tlačítkem pro přídání sloupců zpět */
}

/* Třída pro tabulku, nepoužívá se přímo element table, protože použití třídy zajišťuje, že se styly použijí pouze pro tuto komkponentu */
.table {
   border-spacing: 0;
   border-collapse: collapse;
   font-size: 13px;
   line-height: 1.5;
   white-space: nowrap;
   width: 100%;
   overflow: auto;
   cursor: pointer;
}

.table tbody {
   display: block;
   max-height: 25em;
   overflow-y: auto;
   overflow-x: hidden;
}

.table td, .table th {
   padding: 0 0.3em;
}

.table thead {
   border-bottom: var(--border-default);
   background-color: var(--color-bcg-accent);
   user-select: none;
}

.table td {
   background-color: var(--color-bcg);
}

.table th {
   text-align: left;
   margin: 0;
   background-color: var(--color-bcg-accent);
   font-weight: normal;
}

.table th:not(:last-child) {
   border-right: var(--border-light);
}

/* Výběr sloupců */
.columnSelectionButton {
   position: absolute;
   right: 0;
   top: 0;
   z-index: 1;
   height: 18px;
   background-color: var(--color-bcg-accent);
   border: none;
   border-left: var(--border-default);
   border-radius: 0;
   cursor: pointer;
}

/* Změny velikosti sloupců */
.table th:not(:last-child) .resizer {
   display: inline-block;
   width: 10px;
   height: 100%;
   position: absolute;
   right: 0;
   top: 0;
   transform: translateX(50%);
   z-index: 1;
   touch-action: none;
}

/* Stará se o to, aby se poslední buňka natáhla až do konce tabulky*/
.table th:last-child, .table td:last-child {
   flex: auto;
}

/* SELECTING */
.table .selected {
   color: var(--color-selected-text);
   background-color: var(--color-selected-bcg);
}
