.footer {
    display: block;
    position: fixed;
    bottom: 0;
    height: var(--height-footer);
    width: 100%;
    background-color: var(--color-bcg);
    z-index: 100;
    margin: 0;
    padding: 0;
    line-height: var(--font-size-normal);
    text-align: right;
    border-top: var(--border-default);
}

.footer p {
    font-size: var(--font-size-normal);
    padding: 0;
    margin: 2px 0.5rem 0;
}
