.menuPanel {
    display: flex;
    justify-content: right;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--color-border);
}

.hideBar {
    width: 15px;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-gutter);
    border: none;
    border-left: var(--border-default);
    border-right: var(--border-default);
    cursor: pointer;
    padding: 0 3px;
}

.hideBar:hover {
    background-color: #dcdcdc;
}

.showIcon {
    color: #343434;
}

.contentWrapper {
    width: 100%;
    padding: var(--main-top-margin) var(--side-page-margin);
}
