.entityDetail {
    min-height: 26rem;
}

.headingRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headingRow button {
    margin-left: var(--button-gap)
}

.buttons {
    gap: 4px;
}

/* Styly pro sloupce popisující zvolený řádek */
.entityDetail dl {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.8em
}

.entityDetail dt {
    grid-column-start: 1;
    font-weight: bold;
    text-align: right;
    width: 11rem;
}

.entityDetail dd {
    margin-left: 20px; /* Určuje vzdálenost sloupců */
    grid-column-start: 2;
    white-space: break-spaces;
}
