.popUpMenu {
    position: fixed;
    top: inherit;
    z-index: 100;
    display: block;
    border: var(--border-default);
    background-color: rgba(232, 232, 232, 0.9); /* Lehce průhledná barva */
    border-radius: var(--border-radius);
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
}

.clm {
    padding: 0 0.5em;
    font-size: 1em;
}

.clm:hover {
    color: var(--color-selected-text);
    background-color: var(--color-selected-bcg);
}

.clmHidden {
    color: gray;
}

.icon {
    margin-right: 5px;
    margin-bottom: 3px;
    font-size: 5px;
}

.iconHidden {
    visibility: hidden;
}
