.button {
    white-space: nowrap;
    height: 1.5rem;
    background-color: var(--color-button);
    border: var(--border-default);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.button:hover {
    background-color: #cbcbcb;
}

.button:active {
    background-color: snow;
}

.iconHolderLeft, .iconHolderRight {
    display: inline-block;
    min-width: 1rem;
    text-align: center;
}
.iconHolderLeft {
    padding-right: 0.10rem;
    margin-right: 0.25rem;
}

.iconHolderRight {
    padding-left: 0.10rem;
    margin-left: 0.25rem;
}