.section {
    margin-bottom: 2rem;
}

.section h3 {
    font-size: 14px;
    padding: 0;
    margin: 4px 0.25em 4px 0;
    display: inline;
}

.icon {
    color: gray;
}

.tooltipHolder {
    position: relative;
    display: inline-block;
}

.tooltipHolder .tooltip {
    visibility: hidden;
    background-color: white;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

    /* Position the tooltip */
    position: fixed;
    z-index: 1000;
}

.tooltipHolder:hover .tooltip {
    visibility: visible;
}