.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem 0;
    gap: var(--button-gap);
}

.input {
    width: 100%;
    height: 1.1rem;
    text-align: right;
}
