.header {
    padding: 0 var(--side-page-margin);
    margin: 0;
    height: var(--height-header);
}

.headerFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--button-gap);
    margin: 0
}

.header h1 {
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
}

.downloadButton { }
