.main {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    height: calc(100vh - var(--height-header) - var(--height-footer))
}

.splitPanel {
    overflow-y: auto; /* Přidá vertikální scroll-bar pokud je obsah příliš dlouhý */
    overflow-x: hidden;
    background-color: var(--color-bcg);
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.split {
    border-top: 1px solid var(--color-border);
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: auto;
}
