:root {
  /* Barvy */
  --color-border: #b3b3b3;
  --color-bcg: white;
  --color-border-light: #dddddd;
  --color-selected-bcg: #333;
  --color-selected-text: white;
  --color-bcg-accent: #f9f9f9;
  --color-button: #e7e7e7;
  --color-gutter: #eee;

  /* Výšky */
  --height-header: 4rem;
  --height-footer: 1rem;

  /* Ostatní */
  --side-page-margin: 1rem;
  --main-top-margin: 1rem;
  --button-gap: 4px;
  --font-size-normal: 13px;
  --border-radius: 3px;
  --border-default: thin solid var(--color-border);
  --border-light: thin solid var(--color-border-light);
}

body {
  background-color: var(--color-bcg);
  font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;

  /* Defaultní nastavení CRA */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*** Split JS ***/
.gutter {
  background-color: var(--color-gutter);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
