.menuItems {
    padding: 0;
    margin: 0;
    user-select: none;
    line-height: 1.6em;
}

.menuItems, .menuItems ul {
    list-style: none;
}

.menuItems ul {
    margin-left: 0;
}

.menuItems li {
    margin: 2px 0;
}

.clickable {
    cursor: pointer;
}

.iconHolder {
    display: inline-block;
    min-width: 1rem;
    margin-right: 0.35rem;
    text-align: center;
}

.itemTitle {
    padding: 0 3px;
}

.nestedList {
    padding-left: 0.9rem;
}

.selected {
    border-radius: var(--border-radius);
    background-color: var(--color-selected-bcg);
    color: var(--color-selected-text);
}
